body {
    display: flex;
    flex-direction: column;
}

.login-body{
    padding: 1rem;
}
.login-body .logo{
    width :8rem;
}
.form-and-message{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.form-and-message .message{
    color: grey;
    font-size: 60px;
    margin-top: 70px;
}
.form-and-message .form{
    background-color: rgb(0, 174, 255);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    display: flex;
    justify-content: center;
    padding: 50px;
}
.error-message{
    color: red;
    font-size: larger;
    font-weight: 600;
}
.form-and-message .login-text{
    text-align: center;
    color: grey;
    font-size: 40px;
    margin-bottom: 20px;

}

.form-and-message .login-text-input{
    padding:20px;
    margin:20px 20px;
    border-radius:10px;
    display:flex;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.form-and-message .submit-btn{
    padding:20px;
    border:none;
    background-color:grey;
    color:#fff;
    font-size: large;
    font-weight:600;
    border-radius:5px;
    width:100%;
}
.form-and-message .submit-btn-disabled{
    padding:20px;
    border:none;
    color:grey;
    background-color: aliceblue;
     font-size: large;
    font-weight:600;
    border-radius:5px;
    width:100%;
}

@media only screen and (max-width: 600px) {
    body {
        display: flex;
        flex-wrap: wrap;
    }

    .form-and-message{
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .form-and-message .message{
        color: grey;
        font-size: 60px;
        margin-top: 70px;
        margin-bottom: 30px;
        text-align: center;
    }
  }